language: python
python:
  - "3.2"
before_install:
  - "pip install -r requirements.txt"
  - "python setup.py check pep8 flakey"
install:
  - "python setup.py install"
script:
  - "python setup.py test"
